<%= render_partial 'shared/nav' %>
<% p = data.send(product) %>

<div class="l-container">
  <div class="above">
    <div class="headline">
      <%= image_tag p.icon, class: 'icon' %>
      <div class="copy">
        <h1><%= p.title %></h1>
        <p><%= p.body %></p>
      </div>
    </div>
    <div class="content">
      <div class="product-hero large">
        <%= image_tag p.image %>
      </div>
      <div class="purchase small">
        <div class="buy-box">
          <div class="strike">
            <p>
              Normally
            </p>
            $<%=  p.strike %>
          </div>
          <div class="price">
            <p>
              On Sale
            </p>
            $<%=  p.price %>
          </div>
          <div class="description">
            <p>
              <%= p.description %>
            </p>
          <div class="pay">
            <%= link_to 'Buy', p.buy, target: '_blank' %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="below">
    <div class="primary large">
      <div class="benefits">
      <% p.benefits.each do |b| %>
        <div class="benefit">
          <h2>
            <%= b.title %>
          </h2>
          <p>
            <%= b.body %>
          </p>
        </div>
      <% end %>
      </div>
    </div>
    <div class="secondary small">
      <h2>Your content is king</h2>
      <p>
        Your content should drive site development, not some flashy template.
        With clov3r, you only add extra <i>site stuff</i> when you need it.
      </p>
      <div class="products">
        <%# data.products.each do |p| %>
          <%# link_to p.url do %>
            <div class="product">
              <div class="icon">
                <%#= image_tag p.img %>
              </div>
              <div class="content">
                <h2>
                  <%#= p.title %>
                </h2>
                <div class="more-button">
                  <!-- quick view -->
                </div>
                <div class="more-info">
                  <p>
                    <%#= p.price %>
                  </p>
                  <p>
                    <%#= p.body %>
                  </p>
                </div>
              </div>
            </div>
          <%# end %>
        <%# end %>
      </div>
    </div>
  </div>
  <div class="third">
    <div class="faqs large">
      <% data.faqs.each do |p| %>
        <div class="question">
          <h2>
            <%= p.title %>
          </h2>
          <p>
            <%= p.body %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="contact small">
      <h1>Have Questions? Shoot Dave an email</h1>
      <form accept-charset="UTF-8" action="https://formkeep.com/f/f1cc3e6b1728" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <textarea name="body" placeholder="Dear Dave, riddle me this..."></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<%= render_partial 'shared/footer' %>
